@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.insurance-container {
    width: 375px;
    height: auto;
    margin: 10px auto;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header {
    width: 100%;
    height: 300px;
    background:
        url('/backg-img.png') no-repeat center center/cover,
        url('/back.png') no-repeat center center/cover;
    display: flex;
    padding: 15px;
    justify-content: space-between;
}



.logo {
    height: 34px;
    width: 160px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.lang {
    height: 34px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.failed-info {
    width: 343px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 120px;
}

.failed-modal {
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

.back-btn{
      width: 343px;
  height: 52px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.custom-list {
  list-style-type: disc;
  padding-left: 20px;
  font-family: sans-serif; 
  color: black; 
}

.custom-list li::marker {
  color: #0056b3; 
}
